{%extends "users/base.html"%}
{%block body%}
{% if message %}<div class="alert alert-{{code}} alert-dismissible fade show">
    <button type="button" class="close" data-dismiss="alert">&times;</button>
    {{message}}
  </div>
  {% endif %}
    <form action="{% url 'login' %}" method="POST">
        {% csrf_token %}
        <input type="text" placeholder="Username" name="username"><br>
        <input type="password" placeholder="Password" name="password"><br>
        <input type="submit" value="Login">
    </form>
    <p>Don't have an account? <a href="/users/regsiter">Register here instead</a></p>
<p><a href="/users/search?">Click Here to search for an user</a></p>
{% endblock%}